<!--
  Generated template for the StatisticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Statistik</ion-title>
    <ion-buttons start>
      <button ion-button icon-only clear (click)="openModal()" [color]="userColor">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header class='card-title'>
          Gesamtanzahl Kaffee
        </ion-card-header>
    
        <ion-card-content no-padding>
          <canvas *ngIf="projectChartLabels" height="150px" baseChart
            [data]="projectChartData"
            [legend]="projectChartLegend"
            [labels]="projectChartLabels"
            [chartType]="projectChartType"></canvas>
        </ion-card-content>
    
        <ion-row no-padding class='card-stats'>
          <ion-col text-left>
            <button small ion-button icon-left clear color="secondary">
              <ion-icon name="cafe"></ion-icon>
              {{projectChartLabels?.length}}
            </button>
          </ion-col>
          <ion-col text-right>
            <button small ion-button icon-left clear color="secondary">
              <ion-icon name="cafe"></ion-icon>
              {{total}}
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <ion-card-header class='card-title'>
          Kaffee pro Tag
        </ion-card-header>
    
        <ion-card-content no-padding>
          <canvas *ngIf="lineChartData" baseChart height="180px"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
        </ion-card-content>
    
    
        <ion-row no-padding class='card-stats'>
        </ion-row>
      </ion-card>
</ion-content>
