<ion-header>
  <ion-navbar>
      <ion-title>Kartenverwaltung - {{cardcount}} Karten</ion-title>      
      <ion-buttons start>
        <button ion-button icon-only clear (click)="openModal()" [color]="userColor">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
   </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="filterCards()"
                   placeholder="Suchen">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" *ngIf="auth.isUserSignedIn()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>Zum Aktuallisieren ziehen</ion-refresher-content>
  </ion-refresher>
  <ion-list [hidden]="cards.length === 0">

      <ion-item-sliding *ngFor="let card of cards">
          <ion-item (click)="goToCard(card, card.cardId)">
              <ion-icon name="card" item-start *ngIf="card.device != 'phone'"></ion-icon>
              <ion-icon name="phone-portrait" item-start *ngIf="card.device === 'phone'"></ion-icon>
              <h2>{{card.cardId}}</h2>
              <p>{{card.givenname}} {{card.surname}} ({{card.email}})</p>
              <ion-badge item-end>1 EUR</ion-badge>        
            </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteCard(card.cardId)">Löschen</button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>

  <ion-list-header [hidden]="cards.length !== 0">
    Keine Karten registriert.
  </ion-list-header>
</ion-content>


<ion-content *ngIf="!auth.isUserSignedIn()">
    <ion-card  color="light">
        <ion-card-content>
         Du musst angemeldet sein um Karten administrieren zu können.
        </ion-card-content>
    </ion-card>
</ion-content>
