page-productdetail {
    .speaker-detail img {
        max-width: 140px;
//        border-radius: 50%;
      }
      
      .speaker-detail p {
        color: #60646B;
      }

      ion-list + ion-list {
        margin-top: 0;
      }
      .small-text {
        font-size: 10px;
      }
}
