<ion-header>
    <ion-navbar>
        <ion-title>Produkte & Preise</ion-title>      
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>Zum Aktuallisieren ziehen</ion-refresher-content>
      </ion-refresher>
      <ion-list reorder="true" (ionItemReorder)="reorderItem($event)">
        <!--ion-list-header>Kaffeespezialitäten</ion-list-header--> 
        <ion-item *ngFor="let product of products" (click)="goToProduct(product.id)">
            <ion-thumbnail item-start>
          <img src="{{product.image}}">
        </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <!--button ion-button clear item-end >{{product.price/100 | number:'1.2-2' }} €</button-->
      <ion-badge item-end class="price-badge">{{product.price/100 | number:'1.2-2' }} €</ion-badge>        
    </ion-item>
   </ion-list>
</ion-content>

<ion-footer *ngIf="auth.isUserSignedIn()">
        <button ion-button full outline (click)="updatePricelist()">Preisliste aktuallisieren</button>
</ion-footer>